{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title%} {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>
    <p> This is a Navigation bar </p>
    <ol>
        <li> <a href="/"> Logo </a></li>
        <li> <a href="{% url 'home:contact' %}"> Contact </a></li>
        <li> <a href="{% url 'home:about' %}"> About us </a></li>
    </ol>
    {% block content %}
    {% endblock %}
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
